* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  max-width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0000007d), to(#0000007d)), url("../img/Rectangle.jpg");
  background: linear-gradient(0deg, #0000007d, #0000007d), url("../img/Rectangle.jpg");
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container span {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hero .container span b {
  color: #ff6332;
  font-weight: 900;
}

.photo-section {
  background-color: #ffffff;
  padding: 32px 0;
}

.photo-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.photo-section__content li:not(:last-child) {
  margin-bottom: 15px;
}

.photo-section__content li img {
  max-width: 345px;
  max-height: 100%;
}

.instagram-section {
  width: 100%;
  position: relative;
}

.instagram-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#0000007d), to(#0000007d));
  background: linear-gradient(0deg, #0000007d, #0000007d);
}

.instagram-section__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.instagram-section__photo li {
  width: 50%;
}

.instagram-section__photo li img {
  width: 100%;
  height: 100%;
  display: block;
}

.instagram-section__content {
  text-align: center;
  position: absolute;
  top: 46%;
  left: 2%;
  z-index: 2;
}

.instagram-section__content span {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.instagram-section__content span strong {
  color: #ff6332;
  font-weight: 900;
}

.footer {
  background-color: #000000;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text span {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0;
  }
  .hero .container span {
    font-size: 48px;
  }
  .photo-section {
    padding: 64px 31px;
  }
  .photo-section__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .photo-section__content li {
    margin-right: 32px;
  }
  .photo-section__content li img {
    max-width: 100%;
  }
  .instagram-section__photo li {
    width: 25%;
  }
  .instagram-section__photo li img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .instagram-section__content {
    position: absolute;
    top: 45%;
    left: 23%;
  }
  .instagram-section__content span {
    font-size: 48px;
  }
}
/*# sourceMappingURL=style.css.map */
