$color-gray: #e5e5e5;
$color-orange: #ff6332;
$color-black: #0000007d;
$color-white: #ffffff;
$color-dark-black: #000000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
}
.hero {
  min-height: 100vh;
  max-width: 100%;
  background: linear-gradient(0deg, $color-black, $color-black),
    url("../img/Rectangle.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  span {
    color: $color-gray;
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    b {
      color: $color-orange;
      font-weight: 900;
    }
  }
}

.photo-section {
  background-color: $color-white;
  padding: 64px 32px;
  &__content {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      li {
        margin-bottom: 32px;
        img {
          width: 100%;
        }
      }
    }
  }
}
.instagram-section {
  &__photo {
    margin-bottom: 20px;
    ul {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      list-style: none;
    }
    li {
      margin-bottom: 10px;
      img {
        width: 100%;
        display: flex;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      color: $color-gray;
      font-weight: 300;
      font-size: 26px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      strong {
        color: $color-orange;
        font-weight: 900;
      }
    }
  }
}

.footer {
  background-color: $color-dark-black;
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      padding-top: 24px;
      padding-bottom: 24px;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: $color-gray;
      align-items: center;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0;
  }
  .hero {
    width: 1440px;
  }
  .photo-section {
    &__content {
      ul {
        flex-wrap: wrap;
        flex-direction: row;
        li {
          margin-right: 32px;
        }
      }
    }
  }
  .instagram-section {
    width: 1440px;
    height: 568px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(0deg, $color-black, $color-black);
    }
    &__photo {
      ul {
        flex-wrap: wrap;
        flex-direction: row;
        li {
          margin-bottom: 0;
        }
      }
    }
    &__content {
      position: absolute;
      top: 45%;
      left: 23%;
      z-index: 2;
      span {
        font-size: 48px;
      }
    }
  }
  .footer {
    width: 1440px;
  }
}
